// Variables
$primary-color: #E52020;
$text-color: #fff;

.container {
  text-align: center;
  margin: 2rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  position: relative;
  .headline{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 3rem;
    .value{
      display: flex;
      flex-direction: column;
      gap: 2rem;
      align-items: center;
      justify-content: center;
      .title {
        color: $primary-color;
        padding: 1rem 2rem;
        border-radius: 1rem;
      }
      .valueContainer{
        display: flex;
        align-items: center;
        gap: 2rem;
        .valueItem{
          padding: .5rem 2rem;
          font-size: 1.5rem;
          border-radius: .5rem;
          cursor: pointer;
          &.valueItemActive{
            background-color: $primary-color;
            color: $text-color;
          }
          
        }      
      }
      .valueRank{
        font-size: 1rem;
        font-weight: bold;
      }
    }
      .options{
        display: flex;
        flex-direction: column;
        gap: 2rem;
        .shuffle{
          display: flex;
          align-items: center;
          font-size: 2rem;
          justify-content: center;
          gap: 5rem;
          .shuffleButton{
              padding: 1rem 2rem;
              cursor: pointer;
              min-width: 150px;
              font-weight: bold;
              border-bottom: .2rem solid $text-color;
              &.shuffleButtonActive{
                border-bottom: .2rem solid $primary-color;
              }
          }
      }
      .runningContainer{
          display: flex;
          align-items: center;
          font-size: 2rem;
          justify-content: space-evenly;

        .runningTime{
          border-radius: 1rem;
          cursor: pointer;
          &.runningActive{
            background-color: $primary-color;
            padding: .5rem 1rem;
            color: $text-color;
          }
        }
      }
      }

}
.break{
  width: 100%;
  height: .2rem;
  background-color: #5c5c5c;
}
input{
    width: 100%;
    padding: 1rem;
    outline: none;
    border: none;
    border: .2rem solid #000;
    font-family: Lit;
    font-size: 2rem;
    border-radius: .5rem;
}

.list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  div {
    flex-grow: 1;
    flex-shrink: 150px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
    background: #f4f4f4;
    margin: 1rem;
    padding: 1rem 2rem;
    border-radius: 1rem;
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
    transition: all 0.3s ease;
    // Highlight current item
    span{
        color: maroon;
        cursor: pointer;
        font-size: 1rem;
    }
    &.active {
      background: $primary-color;
      color: $text-color;
      transform: scale(1.1);
    }
  }
}

.button {
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  background: $primary-color;
  color: $text-color;
  padding: 10px 20px;
  border: .2rem solid $primary-color;
  border-radius: .5rem;
  cursor: pointer;
  font-size: 16px;
  transition: 0.3s;
  margin-top: 20px;
  font-family: Lit;

  &:hover {
    background: #FFF;
    color: $primary-color;
  }

  &:disabled {
    background: grey;
    cursor: not-allowed;
    border: none;
    color: black;
  }
}
.selectedItemBackground{
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba($color: #000000, $alpha: .5);
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    .selectedItem{
      background-color: #fff;
      border-radius: 1rem;
      padding: 2rem;
      display: flex;
      flex-direction: column;
      gap: 3rem;
      .selectedItemValue {
        font-size: 24px;
        font-weight: bold;
        color: $primary-color;
      }
      .selectedItemButton{
        display: flex;
        align-items: center;
        justify-content: center;
        .selectedItemButtonItem{
            text-transform: uppercase;
            font-weight: bold;
            cursor: pointer;
        }
      }
    }
}
}
