*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@font-face {
    font-family: "Lit";
    src: url('./fonts/Literata-VariableFont_opsz,wght.ttf');
}
html{
    font-size: 62.5%;

}

body{
    scroll-behavior: smooth;
    font-family: Lit;
}